body {
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  main {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;

  }

  table {
    margin-top: 15%;
    border-collapse: collapse;
  }
  
  td {
    padding: 1%;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .first-list li {
    font-weight: bold;
  }
  
  .second-list li {
    font-style: italic;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
    .featurette-heading2 {
      margin-bottom: 5rem;
    }
  }
  