body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

h1, p {
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 10px;
}

@media (min-width: 40em) {
  .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
  }

  .featurette-heading {
      font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
      margin-top: 7rem;
  }
  .featurette-heading2 {
      margin-bottom: 5rem;
  }
}